body {
  font-family: "微软雅黑";
/*导航*/
/*导航*/
/*按钮*/
/*横线*/
}
body a {
  text-decoration: none;
}
body .left {
  float: left;
}
body .right {
  float: right;
}
body .clear {
  clear: both;
}
body .header1 {
  width: 100%;
  height: 66px;
  position: fixed;
  top: 0;
  z-index: 9;
  margin-bottom: 0;
  border: 0;
  background-color: transparent;
}
body .header1 .container-fluid {
  width: 1200px;
  height: inherit;
  padding-right: 0px;
  padding-left: 0px;
}
body .header1 .container-fluid .navbar-header {
  background: url("../images/page01/logo-new01.png") no-repeat;
  background-position-y: 9px;
  width: 215px;
  height: inherit;
}
body .header1 .container-fluid .navbar-nav {
  float: right;
}
body .header1 .container-fluid .navbar-nav > li {
  padding: 0 25px;
}
body .header1 .container-fluid .navbar-nav > li > a {
  color: #fff;
  font-size: 16px;
  padding: 0;
  line-height: 63px;
}
body .header1 .container-fluid .navbar-nav .apply {
  border-left: 1px solid #696b71;
  margin-top: 24px;
  height: 16px;
}
body .header1 .container-fluid .navbar-nav .apply a {
  color: #f2c811;
  margin-top: -24px;
}
body .header2 {
  width: 100%;
  height: 44px;
  min-height: 44px;
  position: fixed;
  top: 0;
  z-index: 9;
  margin-bottom: 0;
  border: 0;
  background-color: #171512;
  border-radius: 0;
}
body .header2 .container-fluid {
  width: 1200px;
  height: inherit;
  padding-right: 0px;
  padding-left: 0px;
}
body .header2 .container-fluid .navbar-header {
  background: url("../images/page01/logo-new02.png") no-repeat;
  background-position-y: 9px;
  width: 143px;
  height: inherit;
}
body .header2 .container-fluid .navbar-nav {
  float: right;
}
body .header2 .container-fluid .navbar-nav > li {
  padding: 0 25px;
}
body .header2 .container-fluid .navbar-nav > li > a {
  font-size: 16px;
  padding: 0;
  line-height: 41px;
  color: #fff;
}
body .header2 .container-fluid .navbar-nav .apply {
  border-left: 1px solid #696b71;
  margin-top: 14px;
  height: 16px;
}
body .header2 .container-fluid .navbar-nav .apply a {
  color: #f2c811;
  margin-top: -14px;
}
body .navbar-default {
  border-color: transparent;
}
body .navbar-default .navbar-nav > .active > a {
  color: #fff;
  border-bottom: 3px solid #f2c811;
  background: transparent;
}
body .navbar-default .navbar-nav > .active > a:hover {
  color: #fff;
  border-bottom: 3px solid #f2c811;
  background: transparent;
}
body .navbar-default .navbar-nav > li > a:focus,
body .navbar-default .navbar-nav > li > a:hover {
  border-bottom: 3px solid #f2c811;
  background: transparent;
  color: #fff;
}
body .pager-text {
  text-align: center;
}
body .pager-text p {
  font-size: 36px;
  font-weight: bold;
  padding-bottom: 16px;
  margin: 0;
}
body .pager-text span {
  margin-top: 2vh;
  font-size: 20px;
  line-height: 30px;
}
body .fullPage-slidesNav span {
  width: 0.5vh;
  height: 0.5vh;
  border: 1px solid #00a1f9;
  background: #00a1f9;
}
body .pager-btn .pager-btn-left {
  margin-right: 60px;
}
body .pager-btn .pager-btn-left,
body .pager-btn .pager-btn-right {
  width: 40px;
  height: 40px;
  background: #d6d6d6;
  float: left;
}
body .pager-btn .pager-btn-left span,
body .pager-btn .pager-btn-right span {
  font-size: 20px;
  color: #fff;
  margin: 8px 10px;
}
body .pager-text-line {
  width: 50px;
  margin-bottom: 2vh;
}
body .product {
  width: 100%;
  margin: 0;
  padding: 0;
/*屏1*/
}
body .product .pager {
  width: 100%;
  margin: 0;
  padding: 0;
}
body .product .pager1 .carousel .carousel-indicators {
  bottom: 6px;
}
body .product .pager1 .carousel .carousel-indicators li {
  width: 8px;
  height: 8px;
  background: #fff;
  margin-left: 4px;
  margin-right: 4px;
}
body .product .pager1 .carousel .carousel-indicators li.active {
  width: 26px;
  background: #f2c811;
  border: 0;
}
body .product .pager1 .carousel .carousel-inner .item {
  height: 540px;
  width: 100%;
}
body .product .pager1 .carousel .carousel-inner .item .item-cont-text {
  position: relative;
  width: 40vw;
  left: 15vw;
  top: 35vh;
}
body .product .pager1 .carousel .carousel-inner .item .item-cont-text .item-cont-text1 {
  margin: 0;
  font-size: 5vh;
  color: #fff;
  padding-bottom: 2vh;
}
body .product .pager1 .carousel .carousel-inner .item .item-cont-text .item-cont-text2 {
  margin: 0;
  padding-bottom: 5vh;
  font-size: 2.6vh;
  color: #f7f7f7;
}
body .product .pager1 .carousel .carousel-inner .item .item-cont-text .item-cont-text3 {
  font-size: 2vh;
  color: #bbb;
}
body .product .pager1 .carousel .center-btn {
  text-align: center;
  width: 1170px;
  min-width: 1170px;
  margin: 0 auto;
}
body .product .pager1 .carousel .center-btn .item-btn {
  position: absolute;
  width: 134px;
  height: 40px;
  border-radius: 50px;
  background: #f2c811;
  bottom: 64px;
  padding-top: 10px;
  cursor: pointer;
}
body .product .pager1 .carousel .center-btn .item-btn p a {
  text-align: center;
  font-size: 16px;
  color: #333;
  text-decoration: none;
}
body .product .pager1 .carousel .item-btn:hover {
  background: #ffd92e;
}
body .product .pager1 .carousel .carousel-inner .item:nth-child(1) {
  background: url("../images/product/banner1.png") no-repeat center;
}
body .product .pager1 .carousel .carousel-inner .item:nth-child(2) {
  background: url("../images/product/banner2.png") no-repeat center;
}
body .product .pager1 .carousel .carousel-inner .item:nth-child(3) {
  background: url("../images/product/banner3.png") no-repeat center;
}
body .product .pager1 .carousel .carousel-control {
  width: 80px;
  height: 80px;
  top: calc((540px - 80px) / 2);
}
body .product .pager1 .carousel .carousel-control.left,
body .product .pager1 .carousel .carousel-control.right {
  background: transparent;
}
body .product .pager1 .carousel .carousel-control.left:hover,
body .product .pager1 .carousel .carousel-control.right:hover {
  background: rgba(0,0,0,0);
}
body .product .pager1 .carousel .glyphicon {
  font-size: 30px;
  margin-top: 38px;
  line-height: 0;
}
body .product .pager1 .carousel .left {
  left: 20px;
}
body .product .pager1 .carousel .right {
  right: 20px;
}
body .index {
  width: 100%;
  margin: 0;
  padding: 0;
/*屏1*/
/*屏2*/
}
body .index .pager {
  width: 100%;
  margin: 0;
  padding: 0;
}
body .index .pager1 .carousel .carousel-indicators {
  bottom: 12vh;
}
body .index .pager1 .carousel .carousel-indicators li {
  width: 8px;
  height: 8px;
  background: #fff;
  margin-left: 4px;
  margin-right: 4px;
}
body .index .pager1 .carousel .carousel-indicators li.active {
  width: 26px;
  background: #f2c811;
  border: 0;
}
body .index .pager1 .carousel .carousel-inner .item {
  height: 92.5vh;
  width: 100%;
}
body .index .pager1 .carousel .carousel-inner .item .item-cont-text {
  position: relative;
  width: 40vw;
  left: 15vw;
  top: 35vh;
}
body .index .pager1 .carousel .carousel-inner .item .item-cont-text .item-cont-text1 {
  margin: 0;
  font-size: 5vh;
  color: #fff;
  padding-bottom: 2vh;
}
body .index .pager1 .carousel .carousel-inner .item .item-cont-text .item-cont-text2 {
  margin: 0;
  padding-bottom: 5vh;
  font-size: 2.6vh;
  color: #f7f7f7;
}
body .index .pager1 .carousel .carousel-inner .item .item-cont-text .item-cont-text3 {
  font-size: 2vh;
  color: #bbb;
}
body .index .pager1 .carousel .item-btn {
  margin: 0 auto;
  position: relative;
  width: 34vh;
  height: 6.2vh;
  border-radius: 50px;
  background: #f2c811;
  top: -3.1vh;
  padding-top: 1.5vh;
  cursor: pointer;
}
body .index .pager1 .carousel .item-btn p a {
  text-align: center;
  font-size: 2.2vh;
  color: #333;
  font-weight: bold;
  text-decoration: none;
}
body .index .pager1 .carousel .item-btn:hover {
  background: #ffd92e;
}
body .index .pager1 .carousel .carousel-inner .item:nth-child(1) {
  background: url("../images/page01/banner01.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
body .index .pager1 .carousel .carousel-inner .item:nth-child(2) {
  background: url("../images/page01/banner02-new.png");
  background-size: 100% 100%;
}
body .index .pager1 .carousel .carousel-inner .item:nth-child(3) {
  background: url("../images/page01/banner-03new.png");
  background-size: 100% 100%;
}
body .index .pager1 .carousel .carousel-inner .item:nth-child(4) {
  background: url("../images/page01/banner04.png");
  background-size: 100% 100%;
}
body .index .pager1 .carousel .carousel-control {
  width: 80px;
  height: 80px;
  top: calc((92.5vh - 80px) / 2);
}
body .index .pager1 .carousel .carousel-control.left,
body .index .pager1 .carousel .carousel-control.right {
  background: transparent;
}
body .index .pager1 .carousel .carousel-control.left:hover,
body .index .pager1 .carousel .carousel-control.right:hover {
  background: rgba(0,0,0,0);
}
body .index .pager1 .carousel .glyphicon {
  font-size: 30px;
  margin-top: 38px;
  line-height: 0;
}
body .index .pager1 .carousel .left {
  left: 20px;
}
body .index .pager1 .carousel .right {
  right: 20px;
}
body .index .pager2 {
  background: url("../images/page02/bg02-new0.png") no-repeat;
}
body .index .pagerTwo-cuntent {
  margin: 0 auto;
  width: 1200px;
  height: 100vh;
  overflow: hidden;
}
body .index .pagerTwo-cuntent .swiper-wrapper {
  width: 10000%;
}
body .index .pagerTwo-cuntent .swiper-wrapper .item {
  float: left;
}
body .index .pagerTwo-cuntent .pager-Two-text-line {
  margin: 0 auto;
  margin-bottom: 2vh;
  border-bottom: 2px solid #f2c811;
}
body .index .pagerTwo-cuntent .pagerTwo-text {
  padding-top: 14vh;
  padding-bottom: 8vh;
}
body .index .pagerTwo-cuntent .pagerTwo-text p {
  color: #333;
}
body .index .pagerTwo-cuntent .pagerTwo-text span {
  color: #444;
}
body .index .pagerTwo-cuntent .pagerTwo-switch .pagerTwo-block {
  float: left;
  width: calc((1200px - (40px * 4)) / 4);
  margin: 0 20px 6vh 20px;
  text-align: center;
}
body .index .pagerTwo-cuntent .pagerTwo-switch .pagerTwo-block img {
  margin-bottom: 4vh;
  border-radius: 50%;
}
body .index .pagerTwo-cuntent .pagerTwo-switch .pagerTwo-block p {
  font-size: 18px;
  color: #333;
  margin-bottom: 2vh;
}
body .index .pagerTwo-cuntent .pagerTwo-switch .pagerTwo-block .pagerTwo-block-p {
  font-size: 16px;
  color: #777;
  line-height: 28.8px;
  margin: 0 10px 0 10px;
}
body .index .pagerTwo-cuntent .pagerTwo-btn {
  position: absolute;
  margin-left: calc((1200px - 120px) / 2);
  bottom: 8vh;
}
body .index .pagerTwo-cuntent .pagerTwo-btn .swiper-button-disabled span {
  color: #fff;
  background: #d6d6d6 !important;
}
body .index .pagerTwo-cuntent .pagerTwo-btn .carousel-control2 {
  position: relative;
  opacity: 1;
  text-shadow: 0 1px 2px rgba(0,0,0,0);
}
body .index .pagerTwo-cuntent .pagerTwo-btn .carousel-control2 span {
  padding: 10px 9px 10px 11px;
  font-size: 20px;
  background: #f2c811;
  color: #fff;
}
body .index .pagerTwo-cuntent .pagerTwo-btn .left {
  width: 40px;
  height: 40px;
  margin-right: 40px;
}
body .index .pagerTwo-cuntent .pagerTwo-btn .carousel-control2 span:hover {
  background: #ffd92e;
}
body .index .pager3 .pagerThree {
  margin-right: 0px;
  margin-left: 0px;
}
body .index .pager3 .pagerThree .pagerThree-left {
  background: url("../images/page03/bg-03.png");
  background-size: 100% 100%;
  height: 100vh;
}
body .index .pager3 .pagerThree .pagerThree-right {
  background: #f2c811;
  height: 100vh;
  padding-left: 60px;
/*横线*/
}
body .index .pager3 .pagerThree .pagerThree-right .pagerTwo-btn {
  float: left;
  margin-left: 0;
  position: absolute;
  bottom: 9vh;
}
body .index .pager3 .pagerThree .pagerThree-right .pagerTwo-btn .carousel-control {
  position: relative;
  opacity: 1;
  background: transparent;
  text-shadow: 0 1px 2px rgba(0,0,0,0);
}
body .index .pager3 .pagerThree .pagerThree-right .pagerTwo-btn .carousel-control span {
  padding: 10px 9px 10px 11px;
  font-size: 20px;
  background: #f2f2f2;
  color: #f2c811;
}
body .index .pager3 .pagerThree .pagerThree-right .pagerTwo-btn .carousel-control span:hover {
  background: #fff;
  color: #f2c811;
}
body .index .pager3 .pagerThree .pagerThree-right .pagerTwo-btn .left {
  width: 40px;
  height: 40px;
  margin-right: 20px;
}
body .index .pager3 .pagerThree .pagerThree-right .pagerTwo-btn .swiper-button-disabled span {
  color: #f2c811;
  background: #d6d6d6 !important;
}
body .index .pager3 .pagerThree .pagerThree-right .pager-Three-text-line {
  border-bottom: 2px solid #f27611;
}
body .index .pager3 .pagerThree .pagerThree-right .pagerThree-right-content-text {
  width: 515px;
  margin-top: 15vh;
  text-align: left;
}
body .index .pager3 .pagerThree .pagerThree-right .pagerThree-right-content-text .pagerThree-title {
  font-size: 36px;
  color: #333;
  font-weight: bold;
  padding-bottom: 16px;
  margin: 0;
}
body .index .pager3 .pagerThree .pagerThree-right .swiper-container {
  overflow: hidden;
  width: 560px;
}
body .index .pager3 .pagerThree .pagerThree-right .swiper-container .swiper-wrapper {
  width: 10000%;
}
body .index .pager3 .pagerThree .pagerThree-right .swiper-container .swiper-wrapper .swiper-slide {
  float: left;
}
body .index .pager3 .pagerThree .pagerThree-right .swiper-container .swiper-wrapper .swiper-slide .pagerThree-right-content {
  width: 515px;
  text-align: left;
  margin-top: 4vh;
}
body .index .pager3 .pagerThree .pagerThree-right .swiper-container .swiper-wrapper .swiper-slide .pagerThree-right-content .pagerThree-title {
  font-size: 36px;
  color: #333;
  font-weight: bold;
  padding-bottom: 1.6vh;
  margin: 0;
}
body .index .pager3 .pagerThree .pagerThree-right .swiper-container .swiper-wrapper .swiper-slide .pagerThree-right-content .pagerThree-text1 {
  margin: 0px;
  padding-bottom: 8vh;
  font-size: 20px;
  color: #444;
}
body .index .pager3 .pagerThree .pagerThree-right .swiper-container .swiper-wrapper .swiper-slide .pagerThree-right-content .pagerThree-text2 {
  margin: 0px;
  padding-bottom: 8vh;
  line-height: 30px;
  font-size: 18px;
  color: #444;
}
body .index .pager3 .pagerThree .pagerThree-right .swiper-container .swiper-wrapper .swiper-slide .pagerThree-right-content .pagerThree-text3 {
  margin: 0px;
  padding-bottom: 8vh;
  line-height: 30px;
  font-size: 18px;
  color: #444;
}
body .index .pager3 .pagerThree .pagerThree-right .pagerThree-btn {
  font-weight: bold;
  font-size: 16px;
  position: relative;
  bottom: 0vh;
  float: left;
}
body .index .pager4 {
  background: url("../images/page04/bg-04.png");
  background-size: 100% 100%;
}
body .index .pager4 .pagerFour {
  margin: 0 auto;
  width: 1200px;
}
body .index .pager4 .pagerFour .pagerFour-text {
  padding-top: 12vh;
  padding-bottom: 6vh;
  color: #fff;
/*横线*/
}
body .index .pager4 .pagerFour .pagerFour-text span {
  color: #ddd;
}
body .index .pager4 .pagerFour .pagerFour-text .pager-Four-text-line {
  margin: 0 auto;
  margin-bottom: 2vh;
  border-bottom: 2px solid #f2c811;
}
body .index .pager4 .pagerFour .pagerFour-switch .pagerFour-block:hover .pagerThree-text2 {
  color: #f2c811;
}
body .index .pager4 .pagerFour .pagerFour-switch .pagerFour-block {
  float: left;
  width: calc((1200px - (60px * 4)) / 4);
  margin: 0 30px 2vh 30px;
  text-align: center;
}
body .index .pager4 .pagerFour .pagerFour-switch .pagerFour-block img {
  width: 18.2vh;
  margin: 0 auto;
  margin-bottom: 3vh;
}
body .index .pager4 .pagerFour .pagerFour-switch .pagerFour-block span {
  position: relative;
  font-size: 2.8vh;
  text-align: center;
  top: -14vh;
  color: #fff;
}
body .index .pager4 .pagerFour .pagerFour-switch .pagerFour-block p {
  font-size: 18px;
  color: #fff;
}
body .index .pager4 .pagerFour .pagerFour-switch .pagerFour-block .pagerThree-text1 {
  font-size: 16px;
  color: #ddd;
  line-height: 27px;
}
body .index .pager4 .pagerFour .pagerFour-switch .pagerFour-line {
  width: 100%;
  height: 22px;
  float: left;
  background: url("../images/page04/icon-000.png");
  margin-bottom: 3vh;
}
body .index .pager5 {
  background: url("../images/page05/bg-05.png");
  background-size: 100% 100%;
}
body .index .pager5 .pagerFive {
  margin: 0 auto;
  width: 1200px;
}
body .index .pager5 .pagerFive .pagerFive-text {
  padding-top: 12vh;
  color: #333;
/*横线*/
}
body .index .pager5 .pagerFive .pagerFive-text span {
  color: #444;
}
body .index .pager5 .pagerFive .pagerFive-text .pager-Five-text-line {
  margin: 0 auto;
  margin-bottom: 2vh;
  border-bottom: 2px solid #f2c811;
}
body .index .pager5 .sky-carousel {
  height: 64vh;
  font-family: "微软雅黑";
}
body .index .pager5 .sky-carousel-container li {
  position: absolute;
}
body .index .pager5 .sky-carousel-container li img {
  margin-left: 2vw;
}
body .index .pager5 .sc-content {
  margin-top: -17vh;
  font-family: "微软雅黑";
}
body .index .pager5 .sc-content h2 {
  font-size: 22px;
  font-weight: bold;
  color: #333;
  margin-bottom: 2vh;
}
body .index .pager5 .sc-content p {
  width: 926px;
  margin-left: calc((100% - 926px) / 2);
  font-size: 18px;
  line-height: 32px;
  color: #777;
}
body .index .pager5 .sc-content p span {
  font-size: 16px;
  color: #999;
}
body .index .pager5 .sc-content p i {
  font-style: inherit;
  color: #666;
}
body .index .pager5 .sc-content img {
  padding-right: 2vh;
}
body .index .pager6 .pagerSix {
  margin-right: 0;
  margin-left: 0;
}
body .index .pager6 .pagerSix .pagerSix-left {
  background: url("../images/page06/bg-06.png");
  background-size: 100% 100%;
  height: 100vh;
}
body .index .pager6 .pagerSix .pagerSix-left img {
  width: 40vw;
  height: 80vh;
  margin-top: 12vh;
  margin-left: 3.5vw;
}
body .index .pager6 .pagerSix .pagerSix-right {
  background: #0d141c;
  height: 100vh;
  padding-left: 60px;
/*横线*/
}
body .index .pager6 .pagerSix .pagerSix-right .carousel-indicators {
  bottom: 6vh;
  left: 53px;
}
body .index .pager6 .pagerSix .pagerSix-right .carousel-indicators li {
  width: 8px;
  height: 8px;
  background: #fff;
  margin-left: 4px;
  margin-right: 4px;
}
body .index .pager6 .pagerSix .pagerSix-right .carousel-indicators li.active {
  width: 26px;
  background: #f2c811;
  border: 0;
}
body .index .pager6 .pagerSix .pagerSix-right .pager-Six-text-line {
  border-bottom: 2px solid #f27611;
}
body .index .pager6 .pagerSix .pagerSix-right .pagerSix-right-content-text {
  width: 515px;
  margin-top: 12vh;
  text-align: left;
}
body .index .pager6 .pagerSix .pagerSix-right .pagerSix-right-content-text .pagerSix-title {
  font-size: 36px;
  color: #fff;
  font-weight: bold;
  padding-bottom: 1.6vh;
  margin: 0;
}
body .index .pager6 .pagerSix .pagerSix-right .pagerSix-right-content {
  width: 515px;
  margin-top: 5vh;
  text-align: left;
}
body .index .pager6 .pagerSix .pagerSix-right .pagerSix-right-content .pagerSix-title {
  font-size: 36px;
  color: #fff;
  font-weight: bold;
  padding-bottom: 1.6vh;
  margin: 0;
}
body .index .pager6 .pagerSix .pagerSix-right .pagerSix-right-content .pagerSix-text2 {
  margin: 0px;
  padding-bottom: 1.2vh;
  font-size: 18px;
  font-weight: bold;
  color: #fff;
}
body .index .pager6 .pagerSix .pagerSix-right .pagerSix-right-content .pagerSix-text3 {
  margin: 0px;
  padding-bottom: 7.4vh;
  line-height: 25px;
  font-size: 14px;
  color: #ddd;
}
body .index .pager6 .pagerSix .pagerSix-right .pagerSix-right-content .pagerSix-text3 span {
  float: left;
  padding-top: 5px;
}
body .index .pager7 {
  width: 100%;
  margin: 0;
  padding: 0;
}
body .index .pager7 .pagerSeven {
  margin: 0 auto;
  width: 1200px;
}
body .index .pager7 .pagerSeven .pager-Seven-text-line {
  margin: 0 auto;
  margin-bottom: 20px;
  border-bottom: 2px solid #f2c811;
}
body .index .pager7 .pagerSeven .pagerSeven-text {
  padding-top: 100px;
  padding-bottom: 40px;
}
body .index .pager7 .pagerSeven .pagerSeven-text1 {
  padding-top: 18vh;
  padding-bottom: 3vh;
}
body .index .pager7 .pagerSeven .pagerSeven-text1 p {
  color: #333;
}
body .index .pager7 .pagerSeven .pagerSeven-text1 span {
  color: #444;
}
body .index .pager7 .pagerSeven .form-horizontal .form-group {
  height: 40px;
  margin-bottom: 30px;
}
body .index .pager7 .pagerSeven .form-horizontal .form-group img {
  position: absolute;
  top: 12px;
  left: 26px;
  width: 16px;
  height: 16px;
}
body .index .pager7 .pagerSeven .form-horizontal .form-group .form-group-Info {
  position: relative;
}
body .index .pager7 .pagerSeven .form-horizontal .form-control {
  padding: 10px 35px;
  font-size: 16px;
  height: 40px;
}
body .index .pager7 .pagerSeven .form-horizontal .form-control-text {
  height: 19vh;
}
body .index .pager7 .pagerSeven .form-horizontal .control-label {
  float: left;
  padding-right: 0px;
  padding-left: 0px;
  font-size: 16px;
  color: #333;
  padding-top: 0;
}
body .index .pager7 .pagerSeven .form-horizontal .checkbox-inline {
  float: left;
  font-size: 16px;
  color: #333;
  padding-top: 0;
}
body .index .pager7 .pagerSeven .form-horizontal .checkbox-inline input[type=checkbox] {
  margin: 5px -20px 0;
}
body .index .pager7 .pagerSeven .form-horizontal .form-control:focus {
  border-color: #f2c811;
  box-shadow: 0 0 8px rgba(47,35,17,0.2);
}
body .index .pager7 .pagerSeven .col-btn {
  height: 40px;
  border-radius: 50px;
  border: 1px solid #f2c811;
  background: #f2c811;
  padding-top: 9px;
  font-size: 16px;
  font-weight: bold;
  color: #333;
  margin-left: calc((100% - 160px) / 2);
  text-align: center;
  width: 160px;
  margin-top: 40px;
  margin-bottom: 60px;
  cursor: pointer;
}
body .index .pager7 .pagerSeven .col-btn1 {
  height: 45px;
  border-radius: 50px;
  border: 1px solid #f2c811;
  background: #f2c811;
  padding-top: 9px;
  font-size: 18px;
  font-weight: bold;
  margin-left: calc((100% - 160px) / 2);
  text-align: center;
  width: 160px;
  margin-top: 8vh;
  cursor: pointer;
}
body .index .pager7 .pagerSeven .col-btn1 a {
  color: #333;
}
body .index .pager7 .pagerSeven .col-btn1:hover {
  background: #ffd92e;
}
body .index .pager7 .pagerSeven .col-btn:hover {
  background: #ffd92e;
}
body .index .pager72 {
  width: 100%;
  height: 80vh;
  margin: 0;
  padding: 0;
}
body .index .pager72 .pagerSeven {
  margin: 0 auto;
  width: 1200px;
}
body .index .pager72 .pagerSeven .pager-Seven-text-line {
  margin: 0 auto;
  margin-bottom: 2vh;
  border-bottom: 2px solid #f2c811;
}
body .index .pager72 .pagerSeven .pagerSeven-text {
  padding-top: 14vh;
  padding-bottom: 3vh;
}
body .index .pager72 .pagerSeven .pagerSeven-text1 {
  padding-top: 18vh;
  padding-bottom: 3vh;
}
body .index .pager72 .pagerSeven .pagerSeven-text1 p {
  color: #333;
}
body .index .pager72 .pagerSeven .pagerSeven-text1 span {
  color: #444;
}
body .index .pager72 .pagerSeven .form-horizontal .form-group {
  height: 40px;
  margin-bottom: 15px;
}
body .index .pager72 .pagerSeven .form-horizontal .form-group img {
  position: absolute;
  top: 1.6vh;
  left: 1.8vw;
  width: 1.6vh;
  height: 1.6vh;
}
body .index .pager72 .pagerSeven .form-horizontal .form-group .form-group-Info {
  position: relative;
}
body .index .pager72 .pagerSeven .form-horizontal .form-control {
  padding: 1.5vh 2.2vw;
  font-size: 1.6vh;
  height: 5vh;
}
body .index .pager72 .pagerSeven .form-horizontal .form-control-text {
  height: 19vh;
}
body .index .pager72 .pagerSeven .form-horizontal .control-label {
  float: left;
  padding-right: 0px;
  padding-left: 0px;
  font-size: 1.6vh;
  color: #333;
}
body .index .pager72 .pagerSeven .form-horizontal .checkbox-inline {
  float: left;
  font-size: 1.6vh;
  color: #333;
}
body .index .pager72 .pagerSeven .form-horizontal .checkbox-inline input[type=checkbox] {
  margin: 2px -19px 0;
}
body .index .pager72 .pagerSeven .form-horizontal .form-control:focus {
  border-color: #f2c811;
  box-shadow: 0 0 8px rgba(47,35,17,0.2);
}
body .index .pager72 .pagerSeven .col-btn {
  height: 4.2vh;
  border-radius: 50px;
  border: 1px solid #f2c811;
  background: #f2c811;
  padding-top: 0.8vh;
  font-size: 1.6vh;
  font-weight: bold;
  color: #333;
  margin-left: calc((100% - 16.6vh) / 2);
  text-align: center;
  width: 16.6vh;
  margin-top: 3vh;
  cursor: pointer;
}
body .index .pager72 .pagerSeven .col-btn1 {
  height: 45px;
  border-radius: 50px;
  border: 1px solid #f2c811;
  background: #f2c811;
  padding-top: 9px;
  font-size: 18px;
  font-weight: bold;
  margin-left: calc((100% - 160px) / 2);
  text-align: center;
  width: 160px;
  margin-top: 8vh;
  cursor: pointer;
}
body .index .pager72 .pagerSeven .col-btn1 a {
  color: #333;
}
body .index .pager72 .pagerSeven .col-btn1:hover {
  background: #ffd92e;
}
body .index .pager72 .pagerSeven .col-btn:hover {
  background: #ffd92e;
}
body .about .row {
  margin-right: 0;
  margin-left: 0;
}
body .about .row .about-head {
  background: url("../images/about/banner.png");
  background-size: 100% 100%;
  height: 50vh;
  padding-top: calc((50vh - 100px) / 2);
  text-align: center;
}
body .about .row .about-head span {
  font-size: 42px;
  color: #fff;
}
body .about .row .about-head .about-head-div .about-head-text {
  height: 4vh;
  width: 465px;
  margin: 0 auto;
  margin-top: 3vh;
}
body .about .row .about-head .about-head-div .about-head-text span {
  font-size: 30px;
  color: #fff;
  float: left;
}
body .about .row .about-head .about-head-div .about-head-text img {
  float: left;
}
body .about .row .about-head .about-head-div .about-head-text p {
  float: left;
  font-size: 34px;
  color: #f2c811;
}
body .about .row .about-content {
  text-align: center;
  background: #fff;
  padding: 0;
}
body .about .row .about-content .about-One-text-line {
  margin: 0 auto;
  margin-bottom: 20px;
  border-bottom: 2px solid #f2c811;
}
body .about .row .about-content .pagerOne-title {
  padding-top: 90px;
  padding-bottom: 90px;
}
body .about .row .about-content .pagerOne-title p {
  color: #333;
}
body .about .row .about-content .pagerOne-title span {
  color: #444;
}
body .about .row .about-content .pagerOne-text1 {
  width: 1000px;
  margin: 0 auto;
  margin-top: 70px;
}
body .about .row .about-content .pagerOne-text1 .pagerOne-text2 {
  text-align: left;
  font-size: 18px;
  line-height: 28px;
  color: #777;
  font-weight: inherit;
}
body .about .row .about-content .pagerOne-Data {
  height: 620px;
  background: #f3f3f3;
  padding-top: 90px;
}
body .about .row .about-content .pagerOne-Data .pagerOne-Data-left {
  padding-right: 30px;
}
body .about .row .about-content .pagerOne-Data .pagerOne-Data-left span {
  float: right;
  font-size: 16px;
  color: #777;
}
body .about .row .about-content .pagerOne-Data .pagerOne-Data-right {
  padding: 0;
}
body .about .row .about-content .pagerOne-Data .pagerOne-Data-right .right-d {
  float: left;
  width: 15px;
  height: 15px;
  margin-right: 30px;
  margin-top: 4px;
}
body .about .row .about-content .pagerOne-Data .pagerOne-Data-right p {
  font-size: 18px;
  color: #333;
  float: left;
  text-align: left;
  width: 500px;
}
body .about .row .about-content .pagerOne-Data .pagerOne-Data-right .right-content {
  float: left;
  border-left: 2px solid #ddd;
  margin-left: 7px;
  padding-bottom: 34px;
  margin-bottom: 20px;
}
body .about .row .about-content .pagerOne-Data .pagerOne-Data-right .right-content .right-content-p {
  font-size: 16px;
  color: #777;
  line-height: 22px;
  margin-bottom: 10px;
  margin-left: 36px;
  text-align: left;
}
body .about .row .about-banner {
  background: url("../images/about/bg.png");
  background-size: 100% 100%;
  height: 438px;
  text-align: center;
  padding: 0;
}
body .about .row .about-banner .about-One-text-line {
  margin: 0 auto;
  margin-bottom: 2vh;
  border-bottom: 2px solid #f2c811;
}
body .about .row .about-banner .pagerOne-title {
  padding-top: 78px;
  padding-bottom: 9vh;
}
body .about .row .about-banner .pagerOne-title p {
  color: #fff;
}
body .about .row .about-banner .pagerOne-title span {
  color: #ddd;
}
body .about .row .about-banner .pagerOne-text1 {
  width: 1000px;
  margin: 0 auto;
  margin-top: 60px;
}
body .about .row .about-banner .pagerOne-text1 .pagerOne-text2 {
  text-align: center;
  font-size: 18px;
  line-height: 28px;
  color: #ddd;
  font-weight: inherit;
}
body .about .row .about-contact {
  background: #fff;
  height: 870px;
  text-align: center;
  padding: 0;
}
body .about .row .about-contact .about-One-text-line {
  margin: 0 auto;
  margin-bottom: 20px;
  border-bottom: 2px solid #f2c811;
}
body .about .row .about-contact .pagerOne-title {
  padding-top: 90px;
  padding-bottom: 54px;
}
body .about .row .about-contact .pagerOne-title p {
  color: #333;
}
body .about .row .about-contact .pagerOne-title span {
  color: #444;
}
body .about .row .about-contact .about-contact-blo {
  margin-bottom: 100px;
  width: 1200px;
  margin: 0 auto;
}
body .about .row .about-contact .about-contact-blo .about-contact-left {
  margin-top: 34px;
}
body .about .row .about-contact .about-contact-blo .about-contact-left .data-left {
  float: left;
}
body .about .row .about-contact .about-contact-blo .about-contact-left .data-left img {
  float: left;
  width: 28px;
  margin-right: 20px;
  margin-bottom: 25px;
}
body .about .row .about-contact .about-contact-blo .about-contact-left .data-left .data-left-img {
  float: left;
  width: 20px;
  margin-right: 28px;
  margin-top: 7px;
}
body .about .row .about-contact .about-contact-blo .about-contact-left .data-left span {
  float: left;
  color: #333;
  font-size: 22px;
}
body .about .row .about-contact .about-contact-blo .about-contact-left .data-left p {
  text-align: left;
  color: #333;
  font-size: 20px;
  line-height: 30px;
}
body .about .row .about-contact .about-contact-blo .about-contact-right .data-right {
  height: 274px;
  width: 654px;
  background: url("../images/about/map.png");
  background-size: 100% 100%;
}
body .about .row .about-contact .about-contact-text {
  background: #f2c811;
  float: left;
  height: 10vh;
  text-align: left;
  padding-top: calc((10vh - 3vh) / 2);
/*申请体验按钮*/
}
body .about .row .about-contact .about-contact-text span {
  font-size: 18px;
  color: #333;
  float: left;
  margin-left: 25vw;
}
body .about .row .about-contact .about-contact-text .col-btn {
  height: 4.2vh;
  border-radius: 50px;
  border: 1px solid #333;
  padding-top: 0.9vh;
  font-size: 16px;
  font-weight: bold;
  color: #333;
  text-align: center;
  width: 16.6vh;
  float: left;
  margin-left: 10vw;
  margin-top: -1vh;
  cursor: pointer;
}
body .about .row .about-contact .about-contact-text .col-btn:hover {
  background: #fff;
  border: 1px solid #fff;
}
body .screen {
  width: 100%;
  margin: 0;
  padding: 0;
/*屏1*/
/*屏2*/
}
body .screen .pager {
  width: 100%;
  margin: 0;
  padding: 0;
}
body .screen .pager1 .carousel .carousel-indicators {
  bottom: 10px;
}
body .screen .pager1 .carousel .carousel-indicators li {
  width: 8px;
  height: 8px;
  background: #fff;
  margin-left: 4px;
  margin-right: 4px;
}
body .screen .pager1 .carousel .carousel-indicators li.active {
  width: 26px;
  background: #f2c811;
  border: 0;
}
body .screen .pager1 .carousel .carousel-inner .item {
  height: 100vh;
  width: 100%;
}
body .screen .pager1 .carousel .carousel-inner .item:nth-child(1) {
  background: url("../images/screen/banner05.png");
  background-size: 100% 100%;
}
body .screen .pager1 .carousel .carousel-inner .item:nth-child(2) {
  background: url("../images/screen/banner02.png");
  background-size: 100% 100%;
}
body .screen .pager1 .carousel .carousel-control {
  width: 90px;
  height: 90px;
  top: calc((100vh - 90px) / 2);
}
body .screen .pager1 .carousel .carousel-control.left,
body .screen .pager1 .carousel .carousel-control.right {
  background: transparent;
}
body .screen .pager1 .carousel .carousel-control.left:hover,
body .screen .pager1 .carousel .carousel-control.right:hover {
  background: rgba(0,0,0,0);
}
body .screen .pager1 .carousel .glyphicon {
  font-size: 35px;
  margin-top: 44px;
  line-height: 0;
}
body .screen .pager1 .carousel .left {
  left: 20px;
}
body .screen .pager1 .carousel .right {
  right: 20px;
}
body .screen .pager2 {
  background: #fff;
  background-size: 100% 100%;
}
body .screen .pager2 .pagerTwo-cuntent {
  margin: 0 auto;
  width: 1200px;
  height: 100vh;
}
body .screen .pager2 .pagerTwo-cuntent .pager-Two-text-line {
  margin: 0 auto;
  margin-bottom: 2vh;
  border-bottom: 2px solid #f2c811;
}
body .screen .pager2 .pagerTwo-cuntent .pagerTwo-text {
  padding-top: 11vh;
  padding-bottom: 7vh;
}
body .screen .pager2 .pagerTwo-cuntent .pagerTwo-text p {
  color: #333;
}
body .screen .pager2 .pagerTwo-cuntent .pagerTwo-text span {
  color: #444;
}
body .screen .pager2 .pagerTwo-cuntent .pagerTwo-switch {
  width: 85%;
  height: 50vh;
  margin: 0 auto;
}
body .screen .pager2 .pagerTwo-cuntent .pagerTwo-switch .pagerTwo-switch-left {
  width: 50%;
  float: left;
}
body .screen .pager2 .pagerTwo-cuntent .pagerTwo-switch .pagerTwo-switch-left .data-left {
  float: left;
}
body .screen .pager2 .pagerTwo-cuntent .pagerTwo-switch .pagerTwo-switch-left .data-left .data-left-img {
  float: left;
  margin-top: 1vh;
  padding-left: 0;
  margin-right: 2vh;
}
body .screen .pager2 .pagerTwo-cuntent .pagerTwo-switch .pagerTwo-switch-left .data-left .data-left-img img {
  width: 5.4vh;
  height: 5.4vh;
  float: left;
}
body .screen .pager2 .pagerTwo-cuntent .pagerTwo-switch .pagerTwo-switch-left .data-left .data-left-info {
  width: 90%;
  padding-left: 5vw;
  text-align: left;
}
body .screen .pager2 .pagerTwo-cuntent .pagerTwo-switch .pagerTwo-switch-left .data-left .data-left-info span {
  font-size: 18px;
  color: #333;
}
body .screen .pager2 .pagerTwo-cuntent .pagerTwo-switch .pagerTwo-switch-left .data-left .data-left-info p {
  font-size: 14px;
  color: #777;
  line-height: 2.5vh;
  margin: 1vh 0 5vh 0;
}
body .screen .pager2 .pagerTwo-cuntent .pagerTwo-switch .pagerTwo-switch-right .data-right {
  background: url("../images/screen/picture-010.png") no-repeat center;
/*background-size 100% 100%*/
  width: 50%;
  height: 56vh;
  float: left;
}
body .screen .pager3 {
  background: #f3f3f3;
  background-size: 100% 100%;
}
body .screen .pager3 .pagerThree {
  margin: 0 auto;
  width: 1200px;
  height: 100vh;
}
body .screen .pager3 .pagerThree .pager-Three-text-line {
  margin: 0 auto;
  margin-bottom: 2vh;
  border-bottom: 2px solid #f2c811;
}
body .screen .pager3 .pagerThree .pager-Three-text {
  padding-top: 16vh;
  padding-bottom: 9vh;
}
body .screen .pager3 .pagerThree .pager-Three-text p {
  color: #333;
}
body .screen .pager3 .pagerThree .pager-Three-text span {
  color: #444;
}
body .screen .pager3 .pagerThree .pagerThree-switch {
  text-align: center;
  padding: 0;
}
body .screen .pager3 .pagerThree .pagerThree-switch .pagerThree-banner {
  height: 45vh;
}
body .screen .pager3 .pagerThree .pagerThree-switch .pagerThree-banner .carousel-indicators li {
  width: 8px;
  height: 8px;
  background-color: #bbb;
  border: 1px solid #bbb;
  margin-left: 4px;
  margin-right: 4px;
}
body .screen .pager3 .pagerThree .pagerThree-switch .pagerThree-banner .carousel-indicators li.active {
  width: 26px;
  background: #f2c811;
  border: 0;
}
body .screen .pager3 .pagerThree .pagerThree-switch .pagerThree-banner .carousel-inner .item img {
  width: 11vh;
  height: 11vh;
  position: relative;
  left: calc((100% - 11vh) / 2);
}
body .screen .pager3 .pagerThree .pagerThree-switch .pagerThree-banner .carousel-inner .item .item-div {
  background: #fff;
  height: 40vh;
  width: 100%;
  margin-top: -6vh;
}
body .screen .pager3 .pagerThree .pagerThree-switch .pagerThree-banner .carousel-inner .item .item-div .item-div1 {
  margin-top: 15vh;
  font-size: 16px;
  line-height: 3.6vh;
  color: #333;
}
body .screen .pager3 .pagerThree .pagerThree-switch .pagerThree-banner .slide,
body .screen .pager3 .pagerThree .pagerThree-switch .pagerThree-banner .slidesContainer {
  padding-top: -5px;
}
body .screen .pager7 {
  width: 100%;
  height: 80vh;
  margin: 0;
  padding: 0;
}
body .screen .pager7 .pagerSeven {
  margin: 0 auto;
  width: 1200px;
}
body .screen .pager7 .pagerSeven .pager-Seven-text-line {
  margin: 0 auto;
  margin-bottom: 2vh;
  border-bottom: 2px solid #f2c811;
}
body .screen .pager7 .pagerSeven .pagerSeven-text1 {
  padding-top: 16vh;
  padding-bottom: 3vh;
}
body .screen .pager7 .pagerSeven .pagerSeven-text1 p {
  color: #333;
}
body .screen .pager7 .pagerSeven .pagerSeven-text1 span {
  color: #444;
}
body .screen .pager7 .pagerSeven .form-horizontal .form-group {
  height: 40px;
  margin-bottom: 30px;
}
body .screen .pager7 .pagerSeven .form-horizontal .form-group img {
  position: absolute;
  top: 1.6vh;
  left: 1.8vw;
  width: 1.6vh;
  height: 1.6vh;
}
body .screen .pager7 .pagerSeven .form-horizontal .form-group .form-group-Info {
  position: relative;
}
body .screen .pager7 .pagerSeven .form-horizontal .form-control {
  padding: 1.5vh 2.2vw;
  font-size: 1.6vh;
  height: 5vh;
}
body .screen .pager7 .pagerSeven .form-horizontal .form-control-text {
  height: 19vh;
}
body .screen .pager7 .pagerSeven .form-horizontal .control-label {
  float: left;
  padding-right: 0px;
  padding-left: 0px;
  font-size: 1.6vh;
  color: #333;
}
body .screen .pager7 .pagerSeven .form-horizontal .checkbox-inline {
  float: left;
  font-size: 1.6vh;
  color: #333;
}
body .screen .pager7 .pagerSeven .form-horizontal .checkbox-inline input[type=checkbox] {
  margin: 2px -19px 0;
}
body .screen .pager7 .pagerSeven .form-horizontal .form-control:focus {
  border-color: #f2c811;
  box-shadow: 0 0 8px rgba(47,35,17,0.2);
}
body .screen .pager7 .pagerSeven .col-btn1 {
  height: 45px;
  border-radius: 50px;
  border: 1px solid #f2c811;
  background: #f2c811;
  padding-top: 9px;
  font-size: 18px;
  font-weight: bold;
  margin-left: calc((100% - 160px) / 2);
  text-align: center;
  width: 160px;
  margin-top: 8vh;
  cursor: pointer;
}
body .screen .pager7 .pagerSeven .col-btn1 a {
  color: #333;
}
body .screen .pager7 .pagerSeven .col-btn1:hover {
  background: #ffd92e;
}
body .footer {
  position: absolute;
  bottom: 0;
  height: 240px;
  width: 100%;
  background: #292929;
  margin-bottom: 0;
}
body .footer .footer-container {
  width: 100%;
  height: 100%;
  padding-top: 26px;
  position: relative;
}
body .footer .footer-container .footer-content {
  width: 1200px;
  margin: 0 auto;
}
body .footer .footer-container .footer-content .footer-content-item {
  padding-right: 90px;
  text-align: left;
  float: left;
}
body .footer .footer-container .footer-content .footer-content-item p {
  color: #fff;
  font-size: 16px;
  margin-bottom: 14px;
}
body .footer .footer-container .footer-content .footer-content-item ul {
  padding-left: 0;
  margin-bottom: 0;
}
body .footer .footer-container .footer-content .footer-content-item ul li {
  list-style: none;
  color: #bbb;
  font-size: 14px;
  line-height: 23px;
}
body .footer .footer-container .footer-content .footer-content-item ul li a {
  color: #bbb;
}
body .footer .footer-container .footer-content .shuxian {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 2px;
  border-left: 1px solid #666;
  border-right: 2px solid #111;
}
body .footer .footer-container .footer-bottom {
  position: absolute;
  width: 100%;
  bottom: 0;
  text-align: center;
  color: #999;
  font-size: 12px;
  padding: 12px 0;
  margin: 0;
  border-top: 1px solid #3f3f3f;
}
